@import '../../assets/styles/vars/sizes.scss';

.custom-table {
    .body {
        display: flex;
        flex-direction: column;
        gap: $table-gap;
    }

    .table-row {
        gap: $table-gap;

        .cell-container {
            display: flex;
            flex-direction: row;
            gap: $table-gap;
        }

    }
}