@import "../../assets/styles/vars/colors.scss";

.alert {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    gap: 20px;
    
    .content-container {
        display: flex;
        align-items: center;
        gap: 20px;
        border-bottom: solid 1px $border-color;
        padding-bottom: 20px;

        .icon {
            color: $success-color;
            font-size: 20px;
        }

        .message {
            font-weight: 800;
        }
    }

    button{
        width: 100px;
        align-self: flex-end ;
    }

    &.fail {
        .content-container {
            .icon {
                color: $accent-color;
            }
        }
    }
}