@import "../../assets/styles/vars/colors.scss";

.result-page {
    article {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .total-amount {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .title {
                font-size: 25px;
                color: $text-color-2;
            }

            .amount {
                font-size: 25px;
                color: $text-color-3;
                font-weight: 800;
            }
        }

        .btn-back {
            width: 120px;
            align-self: flex-end;
        }
    }
}