@import '../../../../../../assets/styles/vars/colors.scss';
@import '../../../../../../assets/styles/vars/sizes.scss';

.cabin-passenger-select-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .passenger-select{
        display: flex;
        justify-content: space-between;
    }
}

.cabin-passenger-select-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-text-color;
    background-color: $primary-color;
    min-width: $form-item-min-width;
    height: $form-item-height;
    border: none;
    cursor: pointer;

    
    .icon svg{
        width: 10px;
    }

    .passenger-count{
        position: absolute;
        top: 3px;
        right: 3px;
    }
}