@import '../../../../assets/styles/vars/colors.scss';

.flights-table{
     .table-header{
        display: flex;
        gap: 8px;
        padding: 8px 16px;
        font-size: 12px;
        justify-content: end;
        align-items: center;
        background-color: $panel-bg-color;
        color: white;
    }

    .table-body{
        padding: 8px 16px;
        background-color: $table-bg-color;
        border: solid 1px $border-color;
    }
}