
$primary-color: #282f3f;
$accent-color: #d32e34;

$bg-color: white;
$border-color: #e8e8e8;
$text-color: #4a4a4a;
$text-color-2: #898989;
$panel-bg-color: #415c6b;
$header-bg-color: #f5f6fa;
$table-bg-color: #f9f9f9;
$disabled-button-color: #dde4ea;
$disabled-button-text-color: #999fa7;

$dark-bg-color: #00344f;
$dark-text-color: white;
$dark-text-color-2: #c8e9f0;
$dark-border-color: white;